/**
 * Code classes to make <pre> blocks look nicer on the
 * browser side.
 */

.code-block {
  margin-top: 20px;
  margin-bottom: 20px;
}

pre {
  border-radius: .5em;
  border: .3em solid #545454;
  box-shadow: 1px 1px .5em black inset;
  margin: .5em 0;
  overflow: auto;
  padding: 1em;
  background-color: #141414;
  color: white;
  font-size: .9em;
}

pre code.language-python span.literal {
  color: #29f349;
}

pre code.language-python span.var {
  color: #ffc500;
}

pre code.language-python span.func {
  color: #00bbff;
}
