/**
 * Fira Mono and Open Sans are being pulled from Google APIs and
 * loaded dynamically as assets.
 */

@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono');

h1, h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: initial;
}

pre, pre span, code {
  font-family: 'Roboto Mono', monospace;
  font-weight: initial;
}

p, span {
  font-family: 'Roboto', sans-serif;
  font-weight: initial;
}
