/* Home styles
-------------------------------------------------- */

nav {
  margin-top: 10px;
}
main {
  margin-top: 50px;
}
body {
  -webkit-transition: background-color .5s ease-out;
  -moz-transition: background-color .5s ease-out;
  -o-transition: background-color .5s ease-out;
  transition: background-color .5s ease-out;
}
a, h1, p, code {
  -webkit-transition: color .25s ease-out;
  -moz-transition: color .25s ease-out;
  -o-transition: color .25s ease-out;
  transition: color .25s ease-out;
}
