/* Home styles
-------------------------------------------------- */

nav {
    margin-top: 10px;
}

main {
    margin-top: 30px;
}

body {
    -webkit-transition: background-color .5s ease-out;
    -moz-transition: background-color .5s ease-out;
    -o-transition: background-color .5s ease-out;
    transition: background-color .5s ease-out;
}

a, h1, p {
    -webkit-transition: color .25s ease-out;
    -moz-transition: color .25s ease-out;
    -o-transition: color .25s ease-out;
    transition: color .25s ease-out;
}

pre {
    -webkit-transition: border .25s ease-out;
    -moz-transition: border .25s ease-out;
    -o-transition: border .25s ease-out;
    transition: border .25s ease-out;
}

a, a:visited {
    color: #0275d8;
}

.lead {
    font-weight: 1000;
}

.code-block {
    margin-top: 20px;
    margin-bottom: 20px;
}

pre {
    border-radius: .5em;
    border: .3em solid hsl(0, 0%, 33%); /* #282A2B */
    box-shadow: 1px 1px .5em black inset;
    margin: .5em 0;
    overflow: auto;
    padding: 1em;
    background-color: hsl(0, 0%, 8%);
    color: white;
    font-size: .9em;
}

pre span.bool {
    color: #1ab728;
}

pre span.var {
    color: #ff9100;
}

pre span.func {
    color: #009dff;
}
