/* Home styles
-------------------------------------------------- */

nav {
    margin-top: 10px;
}
main {
    margin-top: 30px;
}
body {
    -webkit-transition: background-color .5s ease-out;
    -moz-transition: background-color .5s ease-out;
    -o-transition: background-color .5s ease-out;
    transition: background-color .5s ease-out;
}
a, h1, p {
    -webkit-transition: color .25s ease-out;
    -moz-transition: color .25s ease-out;
    -o-transition: color .25s ease-out;
    transition: color .25s ease-out;
}
pre {
    -webkit-transition: border .25s ease-out;
    -moz-transition: border .25s ease-out;
    -o-transition: border .25s ease-out;
    transition: border .25s ease-out;
}
a, a:visited {
    color: #0275d8;
}
.lead {
    font-weight: 1000;
}
.code-block {
    margin-top: 20px;
    margin-bottom: 20px;
}
