html,
body {
  /* Support sticky footer */
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}

div.layout {
  /* Support sticky footer */
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header,
footer {
  /* Support sticky footer */
  flex-grow: 0;
  flex-shrink: 0;
}

main {
  /* Support sticky footer */
  flex-grow: 1;
}

header,
main,
footer {
  /* Apply padding across visual content */
  padding: 1em;
}

@font-face {
  /* Define custom sans-serif font */
  font-family: 'Fjalla One';
  font-weight: normal;
  src: url(/fonts/FjallaOne-Regular.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  /* Define custom serif font */
  font-family: 'Merriweather';
  font-weight: normal;
  src: url(/fonts/Merriweather-Regular.ttf) format('truetype');
  font-display: swap;
}

html {
  /* Apply text size hints for mobile */
  text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

@media (max-width: 800px) {
  /* Apply smaller font for small screens */
  html {
    font-size: 14px;
  }
}

header,
footer {
  /* Apply header and footer colors */
  background-color: black;
  color: white;
}

header a {
  /* Apply header link color */
  color: white;
  /* Apply margin between header links */
  margin-right: 1rem;
}

header a:last-child {
  /* Ensure last header link is flush */
  margin-right: 0;
}

header nav {
  /* Ensure header links are on the right */
  float: right;
}

body {
  /* Define default font */
  font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* Define header font */
  font-family: 'Fjalla One', Arial, Helvetica, sans-serif;
  /* Define common settings for header font */
  color: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.75rem;
}

h6 {
  font-size: 0.5rem;
}
