@font-face {
  font-family: 'Fjalla One';
  font-weight: normal;
  src: url(/fonts/FjallaOne-Regular.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Merriweather';
  font-weight: normal;
  src: url(/fonts/Merriweather-Regular.ttf) format('truetype');
  font-display: swap;
}

html {
  /* Simplify layout element sizing */
  box-sizing: border-box;
  /* Apply text size hints for mobile */
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

@media (max-width: 800px) {
  /* Apply smaller font for small screens */
  html {
    font-size: 14px;
  }
}

@media (min-width: 1400px) {
  /* Apply larger font for large screens */
  html {
    font-size: 18px;
  }
}

body {
  /* Enforce flush layout */
  margin: 0;
  padding: 0;
  /* Apply default font */
  font-family: 'Merriweather', serif;
}

div.layout {
  /* Support sticky footer */
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header, main, footer {
  /* Apply padding across visual content */
  padding: 1.5em;
}

header {
  /* Apply header colors */
  background-color: black;
  color: white;
}

header a {
  /* Apply header link color */
  color: white;
}

header nav {
  /* Ensure header links are on the right */
  float: right;
}

header {
  /* Support sticky footer */
  flex-shrink: 0;
}

main.content {
  /* Support sticky footer */
  flex-grow: 1;
}

footer {
  /* Support sticky footer */
  flex-shrink: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* Define family for header font */
  font-family: 'Fjalla One', sans-serif;
  /* Define common settings for header font */
  color: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.75rem;
}

h6 {
  font-size: 0.5rem;
}
