html {
  /* Simplify layout element sizing */
  box-sizing: border-box;
  /* Add text size hints for mobile */
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  /* No margin for flush content */
  margin: 0;
  /* Default fonts */
  font-family: Georgia, 'Times New Roman', Times, serif;
}
div.layout {
  /* Support sticky footer */
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
header {
  background-color: black;
  color: white;
  /* Padding for header content */
  padding: 1.50rem;
  /* Spacing between header and main */
  margin-bottom: 1.50rem;
}
header a {
  /* Enforce header links for background contrast */
  color: white;
}
header nav {
  /* Stick header navigation to the right */
  float: right;
}
main.content {
  /* Support sticky footer */
  flex: 1;
  /* Horizontal padding for content */
  padding-left: 2.00rem;
  padding-right: 3.00rem;
}
footer {
  /* Padding for footer content */
  padding: 1.50rem;
}
footer a {
  /* Footer links */
  color: black;
}
.social a {
  /* Social button links are passive */
  color: black;
}
.social a:hover {
  /* Social button links are active */
  color: grey;
}
.social svg {
  /* Social icon size */
  font-size: 2.50rem;
  /* Social icon spacing */
  margin-top: 0.625rem;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  /* Header fonts */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* Header settings in common */
  color: inherit;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
}
h1 {
  font-size: 2.25rem;
}
h2 {
  font-size: 1.50rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 1.00rem;
}
h5 {
  font-size: 0.75rem;
}
h6 {
  font-size: 0.50rem;
}
