/**
 * Pretty code blocks for the website.
 */

.code-block {
  margin-top: 20px;
  margin-bottom: 20px;
}

pre {
  border-radius: 8px;
  border: 4px solid var(--grey-five);
  margin: 8px 0;
  overflow: auto;
  padding: 16px;
  background-color: var(--grey-one);
  color: white;
  font-size: .9em;
}

pre span.literal {
  color: var(--jedi-purple);
}

pre span.var {
  color: var(--jedi-orange);
}

pre span.func {
  color: var(--jedi-pink);
}
