/**
 * Pretty code blocks for user experience.
 */

.code-block {
  margin-top: 20px;
  margin-bottom: 20px;
}

pre {
  border-radius: .5em;
  border: .3em solid #545454;
  margin: .5em 0;
  overflow: auto;
  padding: 1em;
  background-color: #141414;
  color: white;
  font-size: .9em;
}

pre span.literal {
  color: #29f349;
}

pre span.var {
  color: #ffc500;
}

pre span.func {
  color: #00bbff;
}
