/**
 * Pretty code blocks for the website.
 */

.code-block {
  margin-top: 20px;
  margin-bottom: 20px;
}

pre {
  border-radius: .5em;
  border: .3em solid var(--grey-five);
  margin: .5em 0;
  overflow: auto;
  padding: 1em;
  background-color: var(--grey-one);
  color: white;
  font-size: .9em;
}

pre span.literal {
  color: var(--saberpurple);
}

pre span.var {
  color: var(--creambar);
}

pre span.func {
  color: var(--saberpink);
}
