/**
 * Hardcoded constants for website
 */

:root {
  --github-logo: #171515;
  --facebook-logo: #3b5998;
  --linkedin-logo: #0072b1;
  --wordpress-logo: #21759b;

  --grey-one: #111111;
  --grey-two: #222222;
  --grey-five: #555555;
  --grey-eight: #888888;

  --jediblue: #00bbff;
  --jedigreen: #29f349;
  --jediorange: #ffc500;
  --jedipink: #ff84c8;
  --jedipurple: #c67eff;
  --jedired: #ff6666;

  --bg-transition: background-color .5s ease-out;
  --color-transition: color .25s ease-out;
  --border-transition: border .25s ease-out;
}
