/**
 * Content padding for the website.
 */

@media (min-width: 700px) {
  body {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (max-width: 699px) {
  body {
    padding-left: 12px;
    padding-right: 12px;
  }
}

nav {
  margin-top: 25px;
}
