/**
 * Google fonts for the website.
 */

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), url("../fonts/Roboto/Roboto-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Mono"), url("../fonts/Roboto_Mono/RobotoMono-Regular.ttf");
  font-display: swap;
}

body {
  font-family: "Roboto", sans-serif;
}

pre, pre span, code {
  font-family: "Roboto Mono", monospace;
}
