/**
 * Transitions, padding and link color for the home page.
 */

@media (min-width: 700px) {
  body {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (max-width: 699px) {
  body {
    padding-left: 12px;
    padding-right: 12px;
  }
}

nav {
  margin-top: 25px;
}

body {
  --bg-transition: background-color .5s ease-out;
  --color-transition: color .25s ease-out;
  --border-transition: border .25s ease-out;
}

body {
  -webkit-transition: var(--bg-transition);
  -moz-transition: var(--bg-transition);
  -o-transition: var(--bg-transition);
  transition: var(--bg-transition);
}

a, h1, p {
  -webkit-transition: var(--color-transition);
  -moz-transition: var(--color-transition);
  -o-transition: var(--color-transition);
  transition: var(--color-transition);
}

pre {
  -webkit-transition: var(--border-transition);
  -moz-transition: var(--border-transition);
  -o-transition: var(--border-transition);
  transition: var(--border-transition);
}

a, a:visited {
  color: #0275d8;
}
