/**
 * Service themes for the website.
 */

body.github {
  background-color: var(--github-logo);
}

body.facebook {
  background-color: var(--facebook-logo);
}

body.linkedin {
  background-color: var(--linkedin-logo);
}

body.wordpress {
  background-color: var(--wordpress-logo);
}

p.github, h1.github, footer span.github,
p.facebook, h1.facebook, footer span.facebook,
p.linkedin, h1.linkedin, footer span.linkedin,
p.wordpress, h1.wordpress, footer span.wordpress {
  color: white;
}

pre.github, pre.facebook, pre.linkedin, pre.wordpress {
  border: .3em solid white;
  background-color: var(--greytwo);
}

pre.github span.literal {
  color: var(--jedipurple);
}

pre.facebook span.literal {
  color: var(--jediorange);
}

pre.linkedin span.literal {
  color: var(--jedigreen);
}

pre.wordpress span.literal {
  color: var(--jedigreen);
}

pre.github span.var {
  color: var(--jedipink);
}

pre.facebook span.var {
  color: var(--jedigreen);
}

pre.linkedin span.var {
  color: var(--jediorange);
}

pre.wordpress span.var {
  color: var(--jedired);
}

pre.github span.func {
  color: var(--jedigreen);
}

pre.facebook span.func {
  color: var(--jedired);
}

pre.linkedin span.func {
  color: var(--jediblue);
}

pre.wordpress span.func {
  color: var(--jediorange);
}
