/**
 * Service themes for the website.
 */

body.github {
  background-color: var(--github-logo);
}

body.facebook {
  background-color: var(--facebook-logo);
}

body.linkedin {
  background-color: var(--linkedin-logo);
}

body.wordpress {
  background-color: var(--wordpress-logo);
}

p.github, h1.github, footer span.github,
p.facebook, h1.facebook, footer span.facebook,
p.linkedin, h1.linkedin, footer span.linkedin,
p.wordpress, h1.wordpress, footer span.wordpress {
  color: white;
}

pre.github, pre.facebook, pre.linkedin, pre.wordpress {
  border: .3em solid white;
  background-color: var(--grey-two);
}

pre.github span.literal {
  color: var(--jedi-purple);
}

pre.facebook span.literal {
  color: var(--jedi-orange);
}

pre.linkedin span.literal {
  color: var(--jedi-green);
}

pre.wordpress span.literal {
  color: var(--jedi-green);
}

pre.github span.var {
  color: var(--jedi-pink);
}

pre.facebook span.var {
  color: var(--jedi-green);
}

pre.linkedin span.var {
  color: var(--jedi-orange);
}

pre.wordpress span.var {
  color: var(--jedi-red);
}

pre.github span.func {
  color: var(--jedi-green);
}

pre.facebook span.func {
  color: var(--jedi-red);
}

pre.linkedin span.func {
  color: var(--jedi-blue);
}

pre.wordpress span.func {
  color: var(--jedi-orange);
}
