/**
 * Service themes for the website.
 */

body.github {
  background-color: #171515;
}

body.facebook {
  background-color: #3b5998;
}

body.linkedin {
  background-color: #0072b1;
}

body.wordpress {
  background-color: #21759b;
}

p.github, h1.github, footer span.github,
p.facebook, h1.facebook, footer span.facebook,
p.linkedin, h1.linkedin, footer span.linkedin,
p.wordpress, h1.wordpress, footer span.wordpress {
  color: white;
}

pre.github, pre.facebook, pre.linkedin, pre.wordpress {
  border: .3em solid white;
  background-color: #222222;
}

pre.github span.literal,
pre.facebook span.literal,
pre.linkedin span.literal,
pre.wordpress span.literal {
  color: #29f349;
}

pre.github span.var,
pre.facebook span.var,
pre.linkedin span.var,
pre.wordpress span.var {
  color: #ffc500;
}

pre.github span.func,
pre.facebook span.func,
pre.linkedin span.func,
pre.wordpress span.func {
  color: #00bbff;
}
