/**
 * Transitions for the website.
 */

body {
  -webkit-transition: var(--bg-transition);
  -moz-transition: var(--bg-transition);
  -o-transition: var(--bg-transition);
  transition: var(--bg-transition);
}

a, h1, p {
  -webkit-transition: var(--color-transition);
  -moz-transition: var(--color-transition);
  -o-transition: var(--color-transition);
  transition: var(--color-transition);
}

pre {
  -webkit-transition: var(--border-transition);
  -moz-transition: var(--border-transition);
  -o-transition: var(--border-transition);
  transition: var(--border-transition);
}
