/**
 * Variables for the website.
 */

:root {
  --github-logo: #171515;
  --facebook-logo: #3b5998;
  --linkedin-logo: #0072b1;
  --wordpress-logo: #21759b;

  --greyone: #111111;
  --greytwo: #222222;
  --greyfive: #555555;

  --jediblue: #00bbff;
  --jedigreen: #29f349;
  --jediorange: #ffc500;
  --jedipink: #ff84c8;
  --jedipurple: #c67eff;
  --jedired: #ff6666;

  --bg-color-transition: background-color .3s ease-out;
  --color-transition: color .15s ease-out;
  --border-transition: border .15s ease-out;
}
