/**
 * Variables for the website.
 */

:root {
  --github-logo: #171515;
  --facebook-logo: #3b5998;
  --linkedin-logo: #0072b1;
  --wordpress-logo: #21759b;

  --grey-one: #111111;
  --grey-two: #222222;
  --grey-five: #555555;

  --jedi-blue: #00bbff;
  --jedi-green: #29f349;
  --jedi-orange: #ffc500;
  --jedi-pink: #ff84c8;
  --jedi-purple: #c67eff;
  --jedi-red: #ff6666;

  --bg-color-transition: background-color .3s ease-out;
  --color-transition: color .15s ease-out;
  --border-transition: border .15s ease-out;
}
